* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blob_generator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blob_wrapper {
    background-color: #befeff;
    /* resize: both; */
    overflow: hidden;
}

circle {
    cursor: pointer;
    transition: r 0.15s ease;
}

circle:hover {
    r: 8;
    /* color: #844ec6 */
}

.btn {
    width: fit-content;
    padding: 10px;
}

@media(max-width: 480px) {
    circle {
        r: 8;
    }
    
    circle:hover {
        r: 12;
        /* color: #844ec6 */
    }
}